In [9]:
# Import pandas package
import pandas as pd
import numpy as np

In [4]:
# loading dataset from a csv file
sales_data = pd.read_csv("sales.csv")

# Get a view of the dataset
sales_data

          Date Region     Category  Sales($) ProductID
0   01/09/2023   East  Electronics   1200.50     E1234
1   02/09/2023   West      Apparel    350.75     A4567
2   03/09/2023  North    Furniture    890.20     F7890
3   04/09/2023  South  Electronics    550.40     E2345
4   05/09/2023   East   Appliances    420.60     A6789
..         ...    ...          ...       ...       ...
56  27/10/2023  North    Furniture    870.20     F3457
57  28/10/2023  South  Electronics    730.40     E4568
58  29/10/2023   East   Appliances    410.60     A6789
59  30/10/2023   West      Apparel    320.25     A7891
60  31/10/2023   West      Apparel    320.25      A789

[61 rows x 5 columns]

## Q1 Total Sales Per Month

In [5]:
sales_data["DateTime"] = pd.to_datetime(sales_data["Date"], format = "%d/%m/%Y")
sales_data

          Date Region     Category  Sales($) ProductID   DateTime
0   01/09/2023   East  Electronics   1200.50     E1234 2023-09-01
1   02/09/2023   West      Apparel    350.75     A4567 2023-09-02
2   03/09/2023  North    Furniture    890.20     F7890 2023-09-03
3   04/09/2023  South  Electronics    550.40     E2345 2023-09-04
4   05/09/2023   East   Appliances    420.60     A6789 2023-09-05
..         ...    ...          ...       ...       ...        ...
56  27/10/2023  North    Furniture    870.20     F3457 2023-10-27
57  28/10/2023  South  Electronics    730.40     E4568 2023-10-28
58  29/10/2023   East   Appliances    410.60     A6789 2023-10-29
59  30/10/2023   West      Apparel    320.25     A7891 2023-10-30
60  31/10/2023   West      Apparel    320.25      A789 2023-10-31

[61 rows x 6 columns]

In [14]:
# Extract month part of the date data
sales_data["Month"] = sales_data["DateTime"].dt.month
sales_data

          Date Region     Category  Sales($) ProductID   DateTime  Month
0   01/09/2023   East  Electronics   1200.50     E1234 2023-09-01      9
1   02/09/2023   West      Apparel    350.75     A4567 2023-09-02      9
2   03/09/2023  North    Furniture    890.20     F7890 2023-09-03      9
3   04/09/2023  South  Electronics    550.40     E2345 2023-09-04      9
4   05/09/2023   East   Appliances    420.60     A6789 2023-09-05      9
..         ...    ...          ...       ...       ...        ...    ...
56  27/10/2023  North    Furniture    870.20     F3457 2023-10-27     10
57  28/10/2023  South  Electronics    730.40     E4568 2023-10-28     10
58  29/10/2023   East   Appliances    410.60     A6789 2023-10-29     10
59  30/10/2023   West      Apparel    320.25     A7891 2023-10-30     10
60  31/10/2023   West      Apparel    320.25      A789 2023-10-31     10

[61 rows x 7 columns]

In [35]:
# Total sales for September
sept_sales_data = sales_data[sales_data["Month"] == 9]
total_sept_sales = sept_sales_data["Sales($)"].sum()
print(f'Total sales for September is: ${total_sept_sales:,}')

Total sales for September is: $17,924.4

In [16]:
# Total sales for October 
oct_sales_data = sales_data[sales_data["Month"] == 10]
total_oct_sales = oct_sales_data["Sales($)"].sum()
print(f'Total sales for OCtober is: ${total_oct_sales:,}')

Total sales for OCtober is: $17,354.65

## Q2 What is the average daily sales for each month?

In [33]:
# # Calculate average daily sales for September
# sept_sales_data = sales_data[:30]
# avg_daily_sales_in_sept = sept_sales_data["Sales($)"].mean()
# round(avg_daily_sales_in_sept, 2)

sept_avg_daily_sales = sept_sales_data["Sales($)"].mean()
sept_avg_daily_sales

597.48

In [32]:
# # #For October, the average daily sales is
# # avg_daily_sales_in_oct = oct_sales_data["Sales($)"].mean()
# # round(avg_daily_sales_in_oct
# oct_avg_daily_sales = total_oct_sales.mean()
# oct_avg_daily_sales

oct_avg_daily_sales = oct_sales_data["Sales($)"].mean()
oct_avg_daily_sales

559.8274193548388

## Q3 What Region generated the highest sales?

In [22]:
#region that generated highest sales
region_with_sales_generated = sales_data.groupby("Region")["Sales($)"].sum()
region_with_sales_generated.sort_values(ascending=False).head(1)

Region
North    12767.0
Name: Sales($), dtype: float64

## Q4 Category with lowest impact

In [28]:
# Category with lowest impact
cat_sales = sales_data.groupby("Category")["Sales($)"].sum()
cat_sales.sort_values().head(1)

Category
Appliances    5878.3
Name: Sales($), dtype: float64

## Q5 Top Selling Products

In [27]:
# Top selling products by sales
top_prod_by_quantity = sales_data["ProductID"].value_counts().head()
top_prod_by_quantity

ProductID
A6789    6
A1234    5
E2345    4
F5678    4
E4568    2
Name: count, dtype: int64

In [36]:
## Top selling product by revenue
top_product_by_revenue = sales_data.groupby(["ProductID", "Category"])["Sales($)"].sum().nlargest(5)
top_product_by_revenue

ProductID  Category
F5678      Furniture      3642.2
E2345      Electronics    2621.4
A6789      Appliances     2413.5
F1236      Furniture      1841.8
F3457      Furniture      1740.4
Name: Sales($), dtype: float64

## Recommendation to improve sales in November

1. Embarking on promotions/bonanzas for the North Region which is already doing well
2. Exploring the possibility of introducing new products in low sale regions since the existing products arent doing well